<div class="modal">
    <div class="header-modal">
        <a href="">x</a>
        {% block header %}{% endblock %}
    </div>
    <div class="main-modal">
        {% block main %}{% endblock %}
    </div>
    <div class="action-modal">
        {% block action %}{% endblock %}
    </div>
</div>