$green-1 : #B7D943;
$green-2 : #92C119;
$green-3 : #51B15D;
$green-4 : #035D45;

$green-gradient : linear-gradient(90deg, rgba(183,217,67,1) 0%, rgba(81,177,93,1) 100%);

$opposite-1 : #FF7701;
$opposite-2 : #FF5811;

$contrast : #262626;

