$green-1 : #B7D943;
$green-2 : #92C119;
$green-3 : #51B15D;
$green-4 : #035D45;

$green-gradient : linear-gradient(90deg, rgba(183,217,67,1) 0%, rgba(81,177,93,1) 100%);

$opposite-1 : #FF7701;
$opposite-2 : #FF5811;

$contrast : #262626;

$grey: #797979;

$box-shadow : 2px 4px 10px rgba(55, 55, 55, 0.25);
$box-shadow-bottom : rgba(0, 0, 0, 0.25) 0px 0px 8px;


