<ul id='back_navbar'>
  <li><a class="active" href="/admin/">Home</a></li>
  <li><a href="/admin/user">Gestion des utilisateurs</a></li>
  <li><a href="#contact">Contact</a></li>
  <li><a href="#about">About</a></li>
  <li><a href="/logout">Déconnexion</a></li>
</ul>