{% extends 'base_back.html.twig' %}

{% block title %} {{'club.title.add'|trans}} {% endblock %}

{% block body %}

    <div class="container-fluid h1-container-mng">
        <div class="row align-items-center">
            <div class="col-md-8 col">
                <h1 class="h1-mng">{{'club.title.add'|trans}}</h1>
            </div>
            <div class="col-md-4 col d-flex justify-content-end edit">
                <a class="btn-link link-add" href="{{ path('back_club_index') }}"><i class="bi bi-arrow-left"></i>&nbsp;&nbsp;{{ 'hike.btn.back'|trans }}</a>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="card card-small py-4">
                <div class="card-body">
                    {% include 'back/club/_form.html.twig' with {'btnValue': 'Créer'} %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}