.btn {
  color: white;
  font-weight: 200;
  border-radius: 4px;
}

.btn-light-green {
  background-color: $green-3;

  &:hover {
    background-color: #0C8552;
    color: white;
  }
}

.btn-dark-green {
    background-color: #0C8552;

    &:hover {
        background-color: $green-3;
        color: white;
    }
}