.btn {
  color: white;
  font-weight: 200;
  border-radius: 4px;

    @media (max-width: 480px) {
        font-size: 0.75rem;
    }
}

.btn-light-green {
  background-color: $green-3;
  transition: background-color 0.4s ease-in-out;

  &:hover {
    background-color: #0C8552;
    color: white;
  }

}

.btn-dark-green {
    background-color: #0C8552;
  transition: background-color 0.4s ease-in-out;

    &:hover {
        background-color: $green-3;
        color: white;
    }
}

.btn-delete {
    background-color: $opposite-3;
    transition: background-color 0.4s ease-in-out;
    padding: 4px 8px !important;
    border: none;
    border-radius: 4px;
    color: white;

    &:hover {
        background-color: $opposite-2;
        color: white;
    }
}

.btn-save {
    background-color: $green-2;
    transition: background-color 0.4s ease-in-out;
    padding: 0.375rem 0.75rem;
    border: none;
    border-radius: 4px;
    color: white;

    &:hover {
        background-color: $green-3;
        color: white;
    }
}

.edit {
  .btn-delete {
    padding: 0.5rem !important;
  }
}