.card {
  box-shadow: $box-shadow;
  border: none;

    &.card-small {
      width: 50%;
      margin-left: auto;
      margin-right: auto;

      @media (max-width: 990px) {
        width: 84%;
      }

      @media (max-height: 768px) {
        margin-top: 2rem;
      }

      @media (max-height: 480px) {
        margin-top: 1rem;
      }

    }

    &.card-large {
      margin-top: 0.75rem !important;
      margin-bottom: 2rem !important;
      padding: 1.25rem 1.75rem;
    }


    .card-header {
      background-color: white;
      border: none;
      color: $green-2;
      text-align: center;
      padding: 3rem 0 1.5rem 0;

      @media (max-width: 480px) {
        padding: 1.5rem 0 0.5rem 0;
      }

      h1 {
        font-weight: 400;
        font-size: 2rem;

        @media (max-width: 990px) {
          font-size: 1.5rem;
        }

        @media (max-width: 480px) {
          font-size: 1rem;
        }
      }

    }

    @media (max-width: 768px) {
      overflow-x: scroll !important;
    }

}