.table-mng {

  th {
    color: $green-3;
    font-weight: 400 !important;

    &:last-child {
      text-align: right;
    }

    @media (max-width: 1080px) {
      font-size: 0.90rem;
    }
  }

  td {
    font-size: 0.90rem;
    vertical-align: middle !important;

    &:last-child {
      text-align: right;
    }
  }

  .btn-link:not(:last-child) {
    
    @media (max-width: 1080px) {
      margin-bottom: 16px !important;
    }

  }

}