.h1-container-mng {

  .row {
    @media (max-width: 768px) {
      flex-direction: column;
      text-align: center;
    }

    .col:nth-child(2) {
      @media (max-width: 768px) {
        text-align: center !important;
        margin-bottom: 1rem;
      }
    }
  }

  .h1-mng {
    color: $green-2;
    padding-top: 2rem;
    padding-bottom: 1.5rem;
  }

}

