.container-fluid:not(:first-child) {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.card {
  width: 90% !important;
  margin-top: 0.75rem !important;
  margin-bottom: 2rem !important;
  padding: 1.25rem 1.75rem;

  .details {

    @media (max-width: 768px) {
      flex-direction: column;
    }

  }
}