<ul id='manager_navbar'>
  <li><a class="active" href="{{ path('manager_default_index') }}">{{ 'manager.navbar.home'|trans }}</a></li>
  <li><a href="{{ path('app_logout') }}">{{ 'manager.navbar.logout'|trans }}</a></li>
</ul>